<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="shortcut icon" href="images/TLogo_Rmster.png" type="image/x-icon">
    <title>Taiko Builders </title>
</head>
<body class="tbody">
    <section>
    <div class="tcontainer">
        <h1>Diego Balderas</h1>
        <h2> Unity Developer</h2>
        <div class="timage">
            <img src="images/Pikof.png" class="rounded-circle" alt="Cinque Terre">
        </div>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Iusto laudantium ex quidem ab repudiandae in magnam blanditiis 
            temporibus delectus reiciendis nostrum, vero perspiciatis tempora 
            vel facilis quae quos reprehenderit voluptatibus.
        </p>

        <p>
            Email: A017nomeAcuerdo@tec.mx <span> Tel: 55-29-64-18-35 </span>            
        </p>
    </div>
    </section>
    
</body>
</html>
