/* Los roots son como cajitas en donde se pueden guardar variables que se han utilizado a lo largo del CSS
    estos NO se verá físicamente en la página de HTML, funcionan como custom propieties. Para este caso se 
    usa para almacenar colores
*/
@font-face {
    font-family: PartofMe;
        src: url(fonts/KGPartofMe.ttf);
    font-family: Mithella;
        src: url(fonts/Mithella-Regular.otf);
    font-family: MithellaBold;
        src: url(fonts/Mithella-Bold.otf);
}

:root{
    --blanco: #ffffff; 
    --oscuro: #21212121;
    --primario: #FFC107;    
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family:PartofMe;
    color: var(--blanco);
    font-size: 16px;
    background: linear-gradient(to right, #234a91, #912077);
}

h1{
    font-family:Mithella;
    color: var(--blanco);
    font-size: 80px;
    text-align: center; 
}

.imagen{
    text-align: center;
}