:root{
    --blanco: #ffffff;  /* Los colores se colocan en hexadecimal junto con el símbolo de # */
    --oscuro: #21212121;
    --primario: #FFC107;     /*= --primario: rgba(255, 193, 7, 1); */
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
    --azulChiclamino: #234a91;
    --rosaAvon: #912077;
    --naranjaPlus: rgba(250, 71, 6, 0.808);
    --rosaTenue: rgba(255, 127, 234, 0.895);
    --fuentePrincipal: 2.8rem;  /* Tamaño de la fuente*/
    --moradoCool:  #7128b6;
    --negro: #000;
    --laAzul: rgb(0, 165, 253); 
    --colorM: #e94ecf;
}

/* Globales */

html {
    font-size: 62.5%;
    box-sizing: border-box;     /* Se resuelve el problema del padding*/    /* Hack para Box Model*/
    width: 100% ;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Delius Swash Caps', cursive;
}

*, *:before, *:after {  /* Significa que lo aplicará a toda la página, a todas las propiedades requeridas */
    box-sizing: inherit;
}

body {
    background: radial-gradient(var(--laAzul) 0%, var(--rosaAvon) 100% );
    font-family: 'Delius Swash Caps', cursive;
}

.contenedor {
    /*width: 120rem;  /* 1200 pixeles */
    max-width: 120rem;

/* Esta sección es para acomodar */

    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;

}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
}
@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}

.titulo, .subtitulo {
    text-align: center; /* Centrar el texto */
    font-size: var(--fuentePrincipal);    /* =   font-size: 2rem;*/
}


/* Tipografía */
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 2.8rem;
}
h3 {
    font-size: 1.8rem;
}
h1,h2,h3 {
    text-align: center;
}


/* Títulos */

.titulo span {
    font-size: 20px;    /* Cambiar el tamaño de la fuente */

}


.nav-bg {   /* .nav-bg corrigió el problema de repartición de pixeles junto al <div>*/
    background-color: var(--blanco);    
}

.navegacion-principal {
    
    display: flex;       /* Aún no lo comprendo , sólo sé que activa los comandos flex */
    
    flex-direction: column;

}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 480px) {
    
}


@media (min-width: 1140px) {
    
}


@media (min-width: 1440px) {
    
}

@font-face {
    font-family: Mithella;
    src: url(fonts/Mithella-Regular.otf);
}

@font-face {
    font-family: Partofme;
    src: url(fonts/KGPartofMe.ttf);
}

@font-face {
    font-family: Papernotes;
    src: url(fonts/Papernotes.ttf);
}

.navegacion-principal a {   /* Esta clase está enfocada más en los navegadores (<a>) */
/*    background-color: var(--primario); */
    display: block;
    /*display: contents; /* En mi opinión se ve mejor */

    text-align: center;
    color: var(--negro);
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 700;   /* Esta medida se estableció al momento de importar la fuente, por lo que lo que se hace es establecerla en la página */
    padding: 1rem;  /* La medida recomendada para los íconos de navegación, son en su mayoría de 1rem */
    
}

.pool {
    display: block;
    text-align: center;
}

.navegacion-principal a:hover {     /* Esta sección es la encargada de ponerle color a las pestañas de navegación */
    background-color: var(--colorM);  /* Establecemos el color de fondo al momento de seleccionarlo, el cual será amarillo */
    color: var(--oscuro);   /* Se coloca el color de la fuente al momento de seleccionarlo */
    
}

.navegacion-principal a:hover {     /* Esta sección es la encargada de ponerle color a las pestañas de navegación */
    background-color: var(--colorM);  /* Establecemos el color de fondo al momento de seleccionarlo, el cual será amarillo */
    color: var(--oscuro);   /* Se coloca el color de la fuente al momento de seleccionarlo */
    
}

.hero {
    /*background-image: url(images/main.png);*/ /* Esto es para buscar la imagen y colocarla */
    /*background-repeat: no-repeat;*/ /* Si se estira adapta en otros dispositivos, la imagen se duplicaría, con eso se soluciona ese error */
    /*background-size: cover;*/ /* La colocas en el fondo*/
    height: 410px;  /* Estableces el tamaño del área*/
    /*padding: 20px;*/
    position: relative;
}

.contenido-hero {
    position: absolute;
    /*background-color: rgba(0, 0, 0,  .75); /** Esta forma ya es un poco vieja**/
    /*background-color: rgb(0 0 0 / 70%);*/
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column; /* Alinear el texto en forma de columna*/
    align-items: center;    /* Alinear el texto  hacia el centro de forma horizontal */
    justify-content: center;    /* Alinear el texto  hacia el centro de forma vertical */
}

.contenido-hero h2, .contenido-hero p {
    color: var(--oscuro);
}

.contenedor-hero .ubicacion {
    display: flex;
    align-items: flex-end;
}

.login-form, .contenedor{
    width: 600px;
    margin: 0 auto;
}

.login-form input[type="password"], .login-form input[type="email"]{
    width: 100%;
    padding: 20px;
    border: 3px solid rgb(0, 0, 0);
    margin-bottom: 10px;
    box-sizing: border-box;
    font-family: Mithella;
    font-size: medium;
}

/* Hay que centrar los botones. Solo son pruebas, tú decides si lo dejamos o lo quitamos, también cambiar los colores       */

.btn-login{ 
    width: 20%;
    padding: 15px;
    background-color: #6f42c1;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font: weight 400px;
    font-family: Papernotes;
    font-size:x-large;
    color: white;
}

.btn-login:hover, .btn-login:active{
    background-color: #61428f;
    border-color:#61428f;
    color: white;
    }
    .btn-login:focus{
        box-shadow: 0 0 0 3px rgba(121, 82, 179,0.28);
    }

.btn-register{
    width: 20%;
    padding: 15px;
    background-color: #34D399;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font: weight 400px;
    font-family: Papernotes;
    font-size:x-large;
    color: white;
    margin-top: 20px;
    text-align: center;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

.btn-register:hover, .btn-register:active{
    background-color: #10B981;
    border-color:#10B981;
    color: white;
    }
    .btn-register:focus{
        box-shadow: 0 0 0 3px #10B981;
    }

    .form-register, .contenedor{
        font-size: 18px;
        width: 1000px;
        margin: 0 auto;
        font-family: 'Mithella';
    }
    
    .form-register input[type="password"], .form-register input[type="email"], 
    .form-register input[type="text"]
    {
        border-radius: 10px;
        width: 100%;
        padding: 20px;
        border: 3px solid rgb(0, 0, 0);
        margin-bottom: 10px;
        box-sizing: border-box;
        font-family: Mithella;
        font-size: medium;
    }
    
    .dropdown {
        border: 3px solid rgb(0, 0, 0);
        font-family: 'Mithella';
        border-radius: 10px;
        appearance: select;
        background: #ffffff;
        color: rgb(0, 0, 0);
        width: 70%;
        padding: 10px;
        font-size: 18px;
        margin-left: 46px;
        margin-top: 15px;
        margin-bottom: 7px;
    }
    
    input[type="date"]{
        
        width: 70%;
        padding: 20px;
        border-radius: 10px;
        font-family: 'Mithella';
        font-size: 18px;
        color: black;
        background-color:white;
        border: 3px solid rgb(0, 0, 0);
        text-align: center;
        margin-left: 30px;
    }
    
    
    @font-face {
        font-family: 'Font Awesome 6 Free';
        src: url('fonts/Font Awesome 6 Free-Solid-900.otf');
    }
    
    .option-input {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        position: relative;
        top: 13.33333px;
        right: 0;
        bottom: 0;
        left: 0;
        height: 30px;
        width: 30px;
        transition: all 0.15s ease-out 0s;
        background: #cbd1d8;
        border: none;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        margin-right: 0.5rem;
        outline: none;
        position: relative;
        z-index: 1000;
      }
      .option-input:hover {
        background: #9faab7;
      }
      .option-input:checked {
        background: #40e0d0;
      }
      .option-input:checked::before {
        width: 30px;
        height: 30px;
        display:flex;
        content:'\f00c';
        font-size: 22px;
        font-weight:bold;
        position: absolute;
        align-items:center;
        justify-content:center;
        font-family:'Font Awesome 6 Free';
        }
      .option-input:checked::after {
        -webkit-animation: click-wave 0.65s;
        -moz-animation: click-wave 0.65s;
        animation: click-wave 0.65s;
        background: #40e0d0;
        content: '';
        display: block;
        position: relative;
        z-index: 100;
      }
      .option-input.radio {
        border-radius: 50%;
        margin-left: 20px;
        margin-top: 0px;
      }
      .option-input.radio::after {
        border-radius: 50%;
      }
      
      @keyframes click-wave {
        0% {
          height: 40px;
          width: 40px;
          opacity: 0.35;
          position: relative;
        }
        100% {
          height: 200px;
          width: 200px;
          margin-left: -80px;
          margin-top: -80px;
          opacity: 0;
        }
      }

    .footer {
       
        padding: 1em 0;
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    
    .carder{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .spCard{
        width: 100%;
        margin: 20px;
        border-radius: 6px;
        overflow: hidden;
        background: #fff;
        box-shadow: 0px 1px 10px rgb(0, 0, 0, 0.2);

    }

    .rcontainer{
        width: 100%;
        margin: 20px;
        border-radius: 6px;
    }

    .scontainer{
        width: 100%;
        display: flex;
        border-radius: 6px;
    }

    .nHero {
        background-image: url(../images/nPartitura.png); /* Esto es para buscar la imagen y colocarla */
        background-repeat: no-repeat; /* Si se estira adapta en otros dispositivos, la imagen se duplicaría, con eso se soluciona ese error */
        background-size: cover; /* La colocas en el fondo*/
        
        height: 850px;  /* Estableces el tamaño del área*/
        padding: auto;
        position: sticky;
    }

    .taikol {
        background-image: url(../images/TsinF.png); /* Esto es para buscar la imagen y colocarla */
        background-repeat: no-repeat; /* Si se estira adapta en otros dispositivos, la imagen se duplicaría, con eso se soluciona ese error */
        background-size: cover; /* La colocas en el fondo*/
        
        height: 850px;  /* Estableces el tamaño del área*/
        padding: 10px;
        position: relative;
    }

    .nfooter{
        /*background-image: url(images/main.png);*/ /* Esto es para buscar la imagen y colocarla */
        /*background-repeat: no-repeat;*/ /* Si se estira adapta en otros dispositivos, la imagen se duplicaría, con eso se soluciona ese error */
        /*background-size: cover;*/ /* La colocas en el fondo*/
        height: 10px;  /* Estableces el tamaño del área*/
        width: auto;
        padding: auto;
        position: relative;
    }


    .ownerCard{
        background-color: var(--blanco);
        border-radius: 1rem;
        box-shadow: 0 1rem 1rem rgb(0, 0, 0, 0.2);
        display: flex;
        margin: 1.5rem;
        overflow: hidden;
        width: 30rem;
        height: 19rem;
    }

    .ownerCard h6{
        opacity: 0.6;
        letter-spacing: .1rem;
        text-transform: uppercase;
    }

    .ownerCard h2{
        letter-spacing: .1rem;
        margin: 1rem 0;
        color: var(--negro);
    }

    .sleft-column{
        color: var(--blanco);
        padding: 2rem;
        max-width: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }